In [1]:
import pandas as pd
import sqlite3 as sql
import sqlalchemy as alc
from utils import sql_utils
from utils import file_utils
from data_types import data_path
from data_types import tables
from sqlalchemy import create_engine
from data_types import tables

In [2]:
dbp = file_utils.fmt_data_path(9, 10, 310, file_utils.FileExtensions.sqlite, data_path.DataPath.main)
print(dbp)

data/310/2020-09-10_310_24h.sqlite

In [3]:
engine = create_engine(f'sqlite:///{dbp}', echo = False)
# this would create any tables missing from the db
# (any class that inherits from 'Base' is a table in this sense)
#tables.Base.metadata.create_all(engine)
con = engine.connect()
tables.Session.configure(bind=engine)
session = tables.Session()
#session.configure(bind=engine)

In [4]:
df = pd.read_sql("select bid_q_0, bid_p_0, ask_p_0, ask_q_0 from books where eid<10", con)
df.describe()

          bid_q_0     ask_q_0
count   53.000000   53.000000
mean    18.830189   39.622642
std     73.274966  158.870560
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      1.000000    2.000000
max    315.000000  682.000000

In [5]:
q = session.query(tables.ExchBook)

In [ ]:
df = pd.DataFrame(q)
df.describe()